In [1]:
#1. Using input() function take one number from the user and using ternary operators check whether the number is even or odd

number = int(input("Enter a number: "))

result = "Even" if number % 2 == 0 else "Odd"


print(f"The number {number} is {result}.")

Enter a number: 66
The number 66 is Even.

In [4]:
#2. Using input function take two number and then swap the number

# Get input for the two numbers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# Print the  numbers
print("BEFORE SWAPPING")
print("First number:", num1)
print("Second number:", num2)
# Swap the numbers
num1, num2 = num2, num1

# Print the swapped numbers
print("AFTER SWAPPING:")
print("First number:", num1)
print("Second number:", num2)

Enter the first number: 23
Enter the second number: 4
BEFORE SWAPPING
First number: 23
Second number: 4


AFTER SWAPPING:
First number: 4
Second number: 23

In [5]:
#3. Write a Program to Convert Kilometers to Miles
# Get the distance in kilometers from the user
kilometers = float(input("Enter distance in kilometers: "))

# Conversion factor
conversion_factor = 0.621371

# Calculate miles
miles = kilometers * conversion_factor

# Print the result
print(f"{kilometers} kilometers is equal to {miles} miles")

Enter distance in kilometers: 56
56.0 kilometers is equal to 34.796776 miles

In [7]:
#4. Find the Simple Interest on Rs. 200 for 5 years at 5% per year.

# Input values
principal = 200  # Principal amount in Rs.
rate = 5  # Rate of interest per year in percentage
time = 5  # Time period in years

# Calculate simple interest
simple_interest = (principal * rate * time) / 100

# Print the result
print(f"The simple interest is: Rs. {simple_interest}")

The simple interest is: Rs. 50.0